---
import Base from '../layouts/Base.astro';
---

<Base title="Home">
  ASDF
  <!-- <div class="col-span-6 row-start-2 font-inter bg-gold-300">
    <h1 class="text-4xl font-bold">BeerJS</h1>
    <p class="text-lg">The global JS meetup</p>
  </div>
  <div class="col-span-2 row-start-2">
    <img src="/placeholder.jpg" alt="Web Developer" class="w-full h-full object-cover" />
  </div> -->
</Base>
