---
import { Icon } from 'astro-icon';
---

<nav class="flex w-full items-center justify-center gap-16 py-8 text-white font-jetbrains font-normal text-[18px]">
  <a href="/about">About</a>
  <a href="/locations">Locations</a>
  <a href="/" class="w-[66px] min-w-[66px]">
    <Icon name="beerjs" />
  </a>
  <a href="/news">News</a>
  <a href="/starter-kit">Start your own</a>
</nav>
